.ff-container-grid {
	display: grid;
	grid-template-columns: 1fr 500px;
	grid-gap: 15px;
	width: 100%;
	padding-bottom: 15px;
	position: relative;
}
#ff_filters_container a {
	display: block;
	text-decoration: none !important;
	width: 100%;
}
.ff-navbar-grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 180px 180px 180px 180px 180px;
	margin-bottom: 10px;
	overflow-y: auto;
	padding: 5px 0 10px 0;
	width: 100%;
}
.ff-navbar-grid:first-child {
	grid-template-columns: 300px 180px;
}
.ff-navbar-grid-2 {
	display: grid;
	grid-template-columns: 180px 370px;	
	grid-gap: 10px;
	margin-bottom: 10px;
	overflow-y: auto;
	padding: 5px 0 10px 0;
	width: 100%;
}
.fulfillment-container select {
	box-shadow: none;
	margin-top: 5px;
	width: 100%;
	border-radius: 0;
	border-color: #ccc;
}
.fulfillment-container kbd {
    background-color: #63cc54;
	box-shadow: inset -1px -1px 0 rgb(0 0 0 / 25%);
    font-size: 10px;
    float: right;
    vertical-align: middle;
}
.ff-navbar-pill {
	background-color: #fff;
	border: 1px solid #ccc;
	cursor: pointer;
	padding: 10px;
	transition: all .3s ease-in-out;
}
.ff-navbar-pill.active {
	color: #2196F3;
	font-family: 'Roboto-bold', sans-serif;
}
.ff-navbar-pill:hover {
	box-shadow: 0px 1px 4px -1px rgb(0 0 0 / 15%);
}
#ff_filters_container select {
	padding: 10px;
	box-shadow: none !important;
	margin-top: 0 !important;
	outline: none !important;
	height: 42px;
}
#ff_filters_container select, ff_filters_container select option:checked {
	font-family: 'Roboto-Bold', sans-serif;
	color: #2196f3;
}

#ff_filters_container select option:not(checked) {
	font-family: 'Roboto', sans-serif;
	color: #444;
}
#ff_filters_container .input-group .btn {
	outline: none;
	border-radius: 0;
    height: 42px;
}
.product-th {
	text-align: left;
	min-width: 250px;
}
.ff-item-container {
	border: 1px solid transparent;
	margin-bottom: 20px;
}
.ff-item-container table {
	margin-bottom: 0;
	border: 1px solid #d8d8d8;
}
.ff-item-container.active {
	border-color: #2196F3;
}
tbody {
	background-color: #fff;
}
th {
	background-color: #d8d8d8;
	border: none;
	box-shadow: none;
	white-space: nowrap;
}
th, td {
	text-align: right;
}
th>* {
	font-family: 'Roboto-Bold', sans-serif;
	text-shadow: none;
	font-weight: normal;
	color: #555;
}
/*#more_info_container {
	display: none;
	background-color: #fff;
	right: 15px;
	transition: all .3s ease-in-out;
	top: 0;
	width: 500px;
	box-shadow: 0 0 14px 6px rgb(0 0 0 / 15%);
}*/
.table-striped>tbody>tr:nth-of-type(even) {
	background-color: #f5f5f5;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #fff !important;
}
button {
	outline: none !important;
	box-shadow: none !important;
}
.more-info-top {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.ff-item-footer, .more-info-middle {
	background-color: #fff;
	padding: 10px;
	position: relative;
}
.more-info-middle {
	padding: 15px;
	background-color: #eaeaea;
}
.ff-item-footer {
	border: 1px solid #d8d8d8;
}
.ff-container-right {
	position: relative;
}
.zig-top-grid {
	display: grid;
	grid-template-columns: 10px 1fr;
	grid-gap: 10px;
	margin-bottom: 5px;
}
.invoice-deliver-info-container {
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 15px;
}
.invoice-summary-grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr) 80px;
	grid-gap: 10px;
	margin-bottom: 10px;
}
.invoice-summary-grid p {
	margin: 0;
}
@media (max-width: 1280px) {
	.ff-container-grid {
		display: block;
	}
}
@media (max-width: 1024px) {
	.ff-navbar-grid {
		grid-template-columns: 150px 150px 150px 150px 150px;
	}
}