a:hover {
	text-decoration: none;
}
.ff-navbar-grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 180px);
	margin-bottom: 10px;
	overflow-y: auto;
	padding: 5px 0 10px 0;
	width: 100%;
}
.ff-navbar-grid.filter-status {
	grid-template-columns: repeat(5, 180px);
}
.ff-navbar-pill {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	cursor: pointer;
	display: block;
	transition: all .3s ease-in-out;
	height: 35px;
	min-width: 80px;
	padding: 6px 10px;
	outline: none !important;
}
.ff-navbar-pill.active {
	color: #2196F3;
	font-family: 'Roboto-bold', sans-serif;
}
.ff-navbar-pill:focus, .ff-navbar-pill:hover {
	box-shadow: 0px 1px 4px -1px rgb(0 0 0 / 15%) !important;
}
button.ff-navbar-pill:focus, button.ff-navbar-pill:hover {
	background-color: #fafafa;
}
.ff-navbar-pill kbd {
    background-color: #63cc54;
	box-shadow: inset -1px -1px 0 rgb(0 0 0 / 25%);
    font-size: 10px;
    float: right;
    vertical-align: middle;
}
select.ff-navbar-pill, select.ff-navbar-pill option:checked, .order-item select, .order-item select option:checked {
	font-family: 'Roboto-Bold', sans-serif !important;
	color: #2196f3;
}

select.ff-navbar-pill option:not(checked), .order-item select option:not(checked) {
	font-family: 'Roboto', sans-serif;
	color: #444;
}
.ff-product-container .order-grid-column.order-labels, .ff-product-container .order-grid-column.order-item {
	grid-template-columns: minmax(0, 1fr) 150px 150px 150px;
}
@media (max-width: 1199px) {
	.ff-navbar-grid.farm-order {
	    grid-template-columns: repeat(3, minmax(0, 156px));
	}
	.ff-navbar-grid.filter-status {
	    grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}