.basket-container .order-grid-footer {
	grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 991px) {
	.basket-container .order-grid-column.order-labels, .basket-container .order-grid-column.order-item {
		grid-template-columns: minmax(0, 1fr) 25px;
		grid-gap: 5px;
	}
}
@media (max-width: 767px) {
	.basket-container .col-xs-12 {
		padding-left: 0;
		padding-right: 0;
	}
	.basket-container .spaced-list.between {
		display: block;
		text-align: right;
	}
	.basket-container .spaced-list.between .spaced-list.between>li {
		display: inline-block;
		vertical-align: sub;
	}
	.basket-container .quantity .input-text.qty {
		width: 38px;
	}
	.basket-container .order-grid-footer {
		padding: 10px;
		display: block;
	}
	.order-item input[type="date"] {
		width: 150px;
	}
	.order-footer-total {
		display: grid;
		grid-template-columns: 22px auto 1fr;
		grid-gap: 10px;
	}
	.order-footer-farm, .order-footer-payment {
		margin-bottom: 15px;
	}
	.checkout-btn-container {
		text-align: right;
	}
}