.basket-container .order-grid-column.order-labels, .basket-container .order-grid-column.order-item {
	grid-template-columns: minmax(0, 1fr) 150px 150px 50px;
}
.basket-container .order-footer-total {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.basket-container .order-table-item input[type="date"] {
	border-color: #2196F3;
	border-radius: 4px;
	height: 30px;
	padding: 5px;
	width: 150px;
}
@media (max-width: 991px) {
	.basket-container .order-grid-column.order-labels, .basket-container .order-grid-column.order-item {
		grid-template-columns: minmax(0, 1fr) 25px;
		grid-gap: 5px;
	}
}
@media (max-width: 767px) {
	.basket-container .col-xs-12 {
		padding-left: 0;
		padding-right: 0;
	}
	.basket-container .spaced-list.between {
		display: block;
		text-align: right;
	}
	.basket-container .spaced-list.between .spaced-list.between>li {
		display: inline-block;
		vertical-align: sub;
	}
	.basket-container .quantity .input-text.qty {
		width: 38px;
	}
	.basket-container .order-grid-footer {
		padding: 10px;
		display: block;
	}
	.basket-container .order-item input[type="date"] {
		width: 150px;
	}
	.basket-container .order-footer-total {
		display: grid;
		grid-template-columns: 22px auto 1fr;
		grid-gap: 10px;
	}
	.basket-container .order-footer-farm, .basket-container .order-footer-payment {
		margin-bottom: 15px;
	}
	.basket-container .checkout-btn-container {
		text-align: right;
	}
}
input[js-element="schedule-value"][data-mobile="1"] {
	width: 163px !important;
	height: 33px !important;
	padding: 2px !important;
}