#storefront_nav label {
	font-family: 'Roboto', sans-serif;
}
.storefront_nav .input-group {
	margin-bottom: 15px;
}
.custom-item-btn {
	padding: 15px 15px 15px 12px !important;
	border-left: 3px solid transparent;
	background-color: #efefef;
	cursor: pointer;
}
.custom-item-btn:hover {
	border-left: 3px solid #aaa;
	color: #2196F3;
}
.custom-item-btn.active {
	background-color: #fff;
	border-left: 3px solid #2196F3;
	color: #2196F3;
	font-family: 'Roboto-bold', sans-serif;
}
.custom-item-child {
	height: 0;
	overflow: hidden;
}
.custom-item-child.active {
	padding: 0 15px 15px 12px;
	border-left: 3px solid #2196F3;
	height: initial;
	overflow: unset;
}
#location_container .form-control {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#location_container .input-group-btn {
	padding-left: 7px;
}
#same_loc_container {
	text-transform: capitalize;
	padding: 10px;
	background-color: #efefef;
	margin-bottom: 15px;
}
.chosen-results {
	padding: 0 !important;
}
.chosen-container {
	padding: 0 0 5px 0;
	font-size: 14px;
}
.result-selected, .result-selected.highlighted, .active-result:hover,
.chosen-container-single>a.chosen-single, .chosen-container-single>a.chosen-single:hover {
	color: #3b9ff5 !important;
}
.active-result {
	color: #333 !important;
}
#preview-store-page {
	width: 100%;
}
#farm_location_modal .input-group {
	margin-bottom: 15px;
}

@media (max-width: 991px) {
	body.storefront #dash_panel_right {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 767px) {
	body.storefront #dash_panel_right {
		padding-left: 10px;
		padding-right: 10px;
	}
	#farm_location_modal .dashboard-panel-middle {
		padding: 0 !important;
	}
	#farm_location_modal ..dashboard-panel-footer {
		margin-top: 15px;
	}
}