body.check-loc-on {
	padding-top: 81px;
}
#global_navbar {
	background: rgb(168,210,83);
	background: linear-gradient(45deg, rgba(168,210,83,1) 0%, rgba(117,202,155,1) 100%);
	border-bottom: none;
	/*background-color: #a8d253;
	box-shadow: 0 1px 5px 0px rgb(0 0 0 / 23%);*/
	left: 0;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 16;
}
#global_navbar_grid {
	display: grid;
	grid-template-columns: 34px 1fr 1fr;
	grid-gap: 10px;
	margin: 0 auto;
}
#global_navbar_logo {
	background-color: #fff;
	border-radius: 4px;
	color: #799938;
	font-size: 17px;
	height: 34px;
	padding: 9px 0;
	text-align: center;
	width: 34px;
}
#global_search_form {
	margin: 0;
	padding: 0;
}
#global_search_form>.input-group {
	max-width: 240px;
}
#global_search_form input, #global_search_form button {
	border: none;
	box-shadow: none;
	outline: none;
	padding: 7px 12px;
}
#global_navbar_btn_list {
	margin: 0;
	padding: 0;
	text-align: right;
}
#global_navbar_btn_list>li {
	background: #fff;
	border-radius: 4px;
	color: #799938;
	cursor: pointer;
	display: inline-block;
	height: 34px;
	margin: 0;
	padding: 7px 10px;
	position: relative;
	text-align: center;
	transition: all .3s ease-in-out;
	vertical-align: top;
}
#global_navbar_btn_list>li:hover {
	filter: opacity(0.8);
}
div.pac-container {
	z-index: 99999999999 !important;
}
body.is-logged #global_navbar_btn_list>li {
	height: 34px;
	width: 34px;
	margin-left: 7px;
	padding: 7px 0;
}
body.is-logged #global_navbar_btn_list>li:first-child {
	margin-left: 0;
}
#global_navbar_avatar {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	height: 34px;
	margin: -7px 0 0;
	padding: 0;
	border-radius: 4px;
	width: 34px;
}
.global-navbar-badge {
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 100%;
	box-shadow: 0px 2px 2px 1px #33333380;
	font-size: 11px;
	left: -5px;
	position: absolute;
	text-align: center;
	top: -2px !important;
	width: 14px;
	height: 14px;
}
.global-navbar-badge.red {
	background-color: #fff;
}
#footer_page_container {
	background-image: url(../../images/marketplace-bg.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 30px 0;
}
.mobile-note {
	background-color: #fff;
	border-radius: 4px;
	border-top: 2px solid #dc4040;
	padding: 5px;
	margin-bottom: 15px;
}
.text-capsule {
	background-color: #aaa;
	border-radius: 20px;
	display: inline-block;
	margin-bottom: 3px;
	padding: 4px 12px;
}
.text-capsule.blue {
	background-color: #99dcff;
}
.status-placed, .status-pickup {
	background-color: #e2e2e2;
}
.status-delivery {
	background-color: #ffe33c;
}
.status-received {
	background-color: #a8d253;
	color: #fff;
}
.status-cancelled {
	background-color: #ff8e8e;
	color: #fff;
}
.preview-image-item {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
}
.preview_images_selected {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.preview_images_selected>li, .preview_images_list>li, .preview-image-item {
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
}
body.check-loc-on #global_navbar>.container {
	padding-top: 10px;
}
#check_loc {
	background: rgb(44,115,255);
	background: linear-gradient(45deg, rgba(44,115,255,1) 0%, rgba(42,212,204,1) 100%);
	color: #fff;
	font-family: 'Roboto-bold', sans-serif;
	font-size: 12px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 5px 10px;
	text-align: center;
	white-space: nowrap;
	overflow-y: auto;
}
#check_loc span {
	background-color: #fff;
	border-radius: 4px;
	color: #ff0225;
	cursor: pointer;
	margin: 0 3px;
	padding: 2px 4px;
	transition: all .3s ease-in-out;
}
#check_loc span:hover {
	background: rgb(168,210,83);
	background: linear-gradient(45deg, rgba(168,210,83,1) 0%, rgba(117,202,155,1) 100%);
}
.order-deliver-note {
	background-color: #9eebff;
	margin: 10px -10px -10px -10px;
	padding: 5px 10px;
	color: #111;
	font-size: 12px;
}
@media (max-width: 991px) {
	body .container {
		padding: 0;
	}
}
@media (max-width: 767px) {
	body {
		padding-top: 38px;
		background-color: #efefef;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
	}
	.panel {
		border-radius: 0;
	}
	#global_navbar {
		grid-gap: 10px;
		grid-template-columns: auto 1fr auto;
		margin: 0;
		padding: 5px;
	}
	#global_navbar>.container {
		padding-left: 0;
		padding-right: 0;
	}
	#global_navbar_grid {
		grid-template-columns: 28px 1fr 28px;
		grid-gap: 7px;
	}
	body.is-logged #global_navbar_grid {
		grid-template-columns: auto 1fr auto;
		grid-gap: 12px;
	}
	#global_search_form input, #global_search_form button {
		height: 28px;
		padding: 4px 12px;
	}
	body.is-logged #global_navbar_btn_list>li {
		margin-left: 4px;
	}
	body.is-logged #global_navbar_btn_list>li, #global_navbar_btn_list>li, #global_navbar_logo {
		height: 28px;
		padding: 4px 0;
		width: 28px;
	}
	body.is-logged #global_navbar_btn_list>li:last-child, #global_navbar_avatar {
		height: 28px;
		margin-top: 0;
		padding: 0;
		width: 28px;
	}
	body.check-loc-on {
		padding-top: 65px !important;
	}
	#check_loc {
		margin-top: -5px;
	}
	body.check-loc-on #global_navbar>.container {
		padding-top: 5px;
	}
}
@media (max-width: 260px) {
	#global_navbar_grid, li[data-toggle="modal"] {
		display: block !important;
		width: 100% !important;
	}
	#global_search_form {
		margin-bottom: 5px;
	}
	#global_navbar_btn_list {
		text-align: center;
	}
	#global_navbar_logo {
		display: none;
	}
	#global_search_form>.input-group {
		max-width: initial;
	}
}
.was-cancelled {
	opacity: 0.7;
	border-left: 2px dashed red;
	border-top: 2px dashed red;
	border-right: 2px dashed red;
	border-bottom: 2px dashed red;
}
a.stop {
	pointer-events: none !important;
}
[js-element="schedule-value"].error {
	background-position: right calc(0.375em + 2.1875rem) center !important;
}