/*#veggy_nearby_body {
	border: 0;
	display: grid;
	grid-gap: 0;
	grid-template-columns: 20% 1fr;
	margin: 0;
	padding: 0;
}*/
#veggy_nearby_left_container img {
	margin-bottom: 10px;
}
#veggy_nearby_left_container {
	text-align: center;
	padding: 15px;
}
#veggy_nearby_right_container {
	border: 0;
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(6, 1fr);
	margin: 0;
	padding: 0;
}
.veggy-nearby-product-item {
	background-color: #fff;
	border: 1px solid #fff;
	position: relative;
}
.veggy-nearby-product-item:nth-child(even) {
	border-left: none;
}
.veggy-nearby-product-item:hover {
	box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 20%);
}
.veggy-nearby-product-img {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 0;
	margin: 0;
	aspect-ratio: 1;
	width: 100%;
}
.veggy-nearby-product-body {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.70) 0%, rgba(255,255,255,0) 100%);
	padding: 10px;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	color: #fff;
}
.veggy-nearby-product-body p {
	overflow: hidden;
	text-overflow: ellipsis;
}
.veggy-nearby-product-item:nth-child(4), .veggy-nearby-product-item:nth-child(4) .veggy-nearby-product-body, .veggy-nearby-product-item:nth-child(4) .veggy-nearby-product-img {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#veggy_nearby_container {
	margin-bottom: 30px;
}
@media (max-width: 991px) {
	#veggy_nearby_left_container {
		padding: 10px;
	}
}
@media (max-width: 767px) {
	#veggy_nearby_container {
		padding: 0 5px;
	}
	#veggy_nearby_container .panel {
		display: block;
		margin: 0 -10px !important;
	}
	#veggy_nearby_left_container .v-center {
		transform: none;
	}
	#veggy_nearby_right_container {
		grid-template-columns: repeat(6, 115px);
		white-space: nowrap;
		overflow-x: auto;
	}
	#veggy_nearby_container h3 {
		color: #756d6d;
		font-size: 14px;
		text-transform: uppercase;
	}
	#veggy_nearby_container a.text-link>h3 {
		color: #2196F3;
	}
	.veggy-nearby-product-img {
		height: 110px;
	}
	.veggy-nearby-product-body {
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;
	}
	.veggy-nearby-product-item:last-child, .veggy-nearby-product-item:last-child .veggy-nearby-product-img {
		border-radius: 0;
	}
}