.farmers-card-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	text-align: center;
	margin-bottom: 30px;
}
.farmers-card-container .farmers-card-item {
	background-color: #fff;
}
.farmers-card-item .card-top {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding-top: 56.25%;
}
.farmers-card-item .farmer-avatar {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 80px;
	width: 80px;
	margin: -60px auto 0 auto;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.farmers-card-item .card-footer {
	padding: 10px 10px 15px 10px;
}