body {
	background-color: #eeefec;
	color: #444;
}
.elem-block {
	display: block;
	width: 100%;
}
i.i-logo {
	color: #799938;
	border: 3px solid #799938;
	border-radius: 12px;
	padding: 5px;
	background: transparent;
	font-size: 24px;
	vertical-align: text-bottom;
}
i.i-logo.white {
	background: #fff;
}
.my-logo i {
	height: 40px;
	width: 40px;
	font-size: 20px;
	color: #799938;
	border: 2px solid #799938;
	border-radius: 12px;
	padding: 8px;
}
.login-button>a {
	border-radius: 12px;
	display: block;
	padding: 9px 20px;
	transition: all .3s ease-in-out;
	background-color: #337ab7;
	color: #fff !important;
}
#login_modal .modal-content {
	background: transparent;
    border: 0;
    border-radius: 22px;
}
#login_modal .modal-body {
	padding: 0;
	background: transparent;
}
#login_body {
	background-color: #8bc34b;
	padding: 0;
	border-radius: 22px;
}
.login-top {
	padding: 15px 15px 0 15px;
}
.login-middle {
	margin-bottom: 20px;
	padding: 10px 15px 0 15px;
}
.login-middle>h1 {
	font-weight: bold;
	margin-top: 0;
}
.login-middle>h1, .login-middle>p {
	color: #fff;
}
.login-form-body {
	padding: 25px 15px;
	background-color: #fff;
	border-top-right-radius: 22px;
	border-top-left-radius: 22px;
	box-shadow: 0px -2px 8px 0px rgb(0 0 0 / 15%);
}
.login-form-body button {
	border-radius: 12px;
	background-color: #8bc34b;
	border: none;
	padding: 7px 20px;
	outline: none !important;
}
.login-form-body button:focus, .login-form-body button:hover {
	background-color: #337ab7 !important;
}
.login-form-body .form-control {
	box-shadow: none;
	border-radius: 12px;
}
.login-form-body .form-group:last-child {
	margin-bottom: 5px;
}
.login-with-social {
	background-color: #eaeaea;
	border-bottom-right-radius: 22px;
	border-bottom-left-radius: 22px;
	padding: 25px 15px;
}
.login-with-social ul {
	margin-bottom: 0;
}
.login-with-social a {
	background-color: #fff;
	border-radius: 12px;
	padding: 7px 20px;
	box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 15%);
}
/*search*/
.panel.pads {
	padding: 15px;
}
.search-form {
}
.search-form .input-group {
	border-radius: 22px;
	margin: 0;
	padding: 0;
}
.search-form input {
	border-radius: 16px;
	height: 40px;
	outline: none !important;
	box-shadow: none !important;
	display: block;
	padding-right: 60px;
	margin: 0;
	border-right: 0 none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.search-form input:focus .search-form button {
	border-color: blue;
}
.search-form span {
	background-color: transparent;
}
.search-form button {
	outline: none;
	border: 1px solid #ccc;
	border-left: 0 none;
	background-color: transparent;
	padding: 9px 14px;
	box-shadow: none;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.search-form button:active {
	color: #799938;
}
/*search*/

/*nav_panel*/
#nav_panel, #marketplace {
	margin-top: 15px;
}
.nav-top {
	text-align: center;
	margin-bottom: 28px;
}
.nav-avatar-body {
	background-color: #fff;
	border: 2px solid #799938;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 22px;
	height: 60px;
	width: 60px;
	margin: 0 auto 10px auto;
}
.nav-user-name {
	font-size: 16px;
	font-weight: bolder;
	margin-bottom: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.account-badge {
	font-size: 11px;
	font-family: inherit;
}
.nav-item-body {
	margin-bottom: 15px;
}
.nav-item-body:last-child {
	margin-bottom: 0;
}
.nav-item-body>a {
	display: block;
	border-radius: 22px;
	background-color: transparent;
	text-decoration: none !important;
	color: #a0a0a0;
	transition: color .3s ease-in-out;
}
.nav-item-body>a>i {
	padding: 20px;
	background-color: #fff;
	border-radius: 20px;
	text-align: center;
}
.nav-item-body>a>span {
	font-weight: bold;
}
.nav-item-body>a:hover {
	color: #496018;
}
.nav-item-body>a.active {
	background-color: #799938;
	color: #fff;
}
.nav-item-body>a.active>i {
	background-color: #496018;
} 
/*nav_panel*/

.color-theme {
	color: #799938;
}
.color-blue {
	color: #337ab7;
}
button, .btn {
	outline: none !important;
	border-radius: 12px !important;
}
button.btn-theme, a.btn-theme {
	background-color: #799938;
	color: #fff !important;
	transition: all .3s ease-in-out;
}
button.btn-theme:hover, a.btn-theme:hover {
	background-color: #6d8a33;
}
.btn-generic-container {
	text-align: center;
	margin: 10px 0;
}
.btn-generic-container>button, .btn-generic-container>a {
	border: 2px solid #799938;
	padding: 10px 50px;
	font-size: 16px;
	color: #799938;
	font-weight: bold;
	transition: all .3s ease-in-out;
	border-radius: 12px;
}
.btn-generic-container>button:hover, .btn-generic-container>a:hover {
	background-color: #799938;
	color: #fff;
}
.pagination-container {
	margin: 10px 0 0;
	text-align: center;
}
.pagination {
	margin: 0;
}
.pagination>li>a, .pagination>li>span {
	padding: 6px 14px;
	font-size: 16px;
}

[data-toggle="modal"], [data-dismiss="modal"] {
	cursor: pointer;
}
[data-target="#search_popup"]:hover {
	color: #337ab7;
}
.icon-left {
	margin-right: 10px;
}
.icon-right {
	margin-left: 10px;
}
.panel {
	position: relative;
	background-color: #fff;
	border-radius: 22px;
}
.panel-nav {
	margin: 0 0 15px 0 !important;
	padding: 0;
}
.panel-nav h3 {
	margin: 0;
    padding-top: 15px;
	vertical-align: middle;
}
a {
	text-decoration: none !important;
	color: inherit;
}
a:hover, [data-target="#login_modal"]:hover {
	color: #337ab7;
}
.search-category-body {
	margin-bottom: 10px;
}

ul.spaced-list {
	align-items: stretch;
	display: flex;
	padding: 0;
	width: 100%;
	margin: 0;
}
ul.spaced-list>li {
	display: block;
	flex: 0 1 auto;
	list-style-type: none;
}
ul.spaced-list.between {
	justify-content: space-between;
}
ul.spaced-list.around {
	justify-content: space-around;
}
ul.inline-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.inline-list>li {
	display: inline-block;
}
.v-middle {
	vertical-align: middle;
}
.v-bottom {
	vertical-align: text-bottom;
}
.product-item-container {
	position: relative;
}
.product-item-sm {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	padding-top: 100%
}
.product-item-sm-footer {
	position: absolute;
	bottom: 0;
	color: #fff;
	display: block;
	width: 100%;
	padding: 20px 10px 5px 10px;
	background: linear-gradient(1deg, rgb(8 8 8) 0%, rgb(0 0 0 / 0%) 100%);
}
.zero-gaps {
	padding: 0;
	margin: 0;
}