@font-face {
	font-family: Roboto-Bold;
	src: url(../fonts/Roboto-Bold.ttf);
}
body {
	font-family: 'Roboto', sans-serif;
	/*background-color: #e9ece2;*/
	background-color: #eeefec;
	color: #444;
}
#farmer_terms_modal .modal-body {
	max-height: 500px;
	overflow-y: auto;
}
.center-panel-md {
	width: 700px;
	margin: 0 auto;
}
.notif-dot {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 100%;
	width: 14px;
	height: 14px;
	font-size: 12px;
	padding: 0;
	line-height: 1.2;
	background-color: #fff;
	color: #f35151;
}
b, label {
	font-family: 'Roboto-Bold', sans-serif;
	font-weight: normal;
}
hr.carved {
	border: 0;
	border-bottom: 1px solid rgb(255 255 255 / 78%);
	border-top: 1px solid rgb(0 0 0 / 11%);
}
.bg-grey {
	background-color: #f7f7f7;
}
.text-sm {
	font-size: 11px;
}
.text-link {
	color: #799938;
	cursor: pointer;
}
.text-link.blue {
	color: #3b9ff5;
}
.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
input[type="text"], .saved-shipping-item {
	text-transform: capitalize;
	box-shadow: none !important;
	outline: none !important;
}
label {
	font-weight: normal;
}
.dash-panel-top h3 {
	font-weight: normal !important;
}
.left-affix-content {
	margin-left: 16.66666667%;
}
.elem-block, .carousel img {
	display: block;
	width: 100%;
}
.mobile-note {
	background-color: #fff;
	padding: 5px;
	border-top: 2px solid #d43333;
	margin-bottom: 15px;
}
i.i-logo {
	color: #799938;
	border: 3px solid #799938;
	border-radius: 12px;
	padding: 5px;
	background: transparent;
	font-size: 24px;
	vertical-align: text-bottom;
}
i.i-logo.white {
	background: #fff;
}
.my-logo i {
	height: 40px;
	width: 40px;
	font-size: 20px;
	color: #799938;
	border: 2px solid #799938;
	border-radius: 12px;
	padding: 8px;
}
.login-button>a {
	border-radius: 12px;
	display: block;
	padding: 9px 20px;
	transition: all .3s ease-in-out;
	background-color: #3b9ff5;
	color: #fff !important;
}
#login_modal .modal-content {
	background: transparent;
	border: 0;
	border-radius: 22px;
}
#login_modal .modal-body {
	padding: 0;
	background: transparent;
}
#login_body {
	background-color: #8bc34b;
	padding: 0;
	border-radius: 22px;
}
.login-top {
	padding: 15px 15px 0 15px;
}
.login-middle {
	margin-bottom: 20px;
	padding: 10px 15px 0 15px;
}
.login-middle>h1 {
	font-weight: bold;
	margin-top: 0;
}
.login-middle>h1, .login-middle>p {
	color: #fff;
}
.login-form-body {
	padding: 25px 15px;
	background-color: #fff;
	border-top-right-radius: 22px;
	border-top-left-radius: 22px;
	box-shadow: 0px -2px 8px 0px rgb(0 0 0 / 15%);
}
.login-form-body button {
	border-radius: 12px;
	border: none;
	padding: 7px 20px;
	outline: none !important;
}
.login-form-body button:focus, .login-form-body button:hover {
	background-color: #337ab7 !important;
}
.login-form-body .form-control {
	box-shadow: none;
	border-radius: 12px;
}
.login-form-body .form-group:last-child {
	margin-bottom: 5px;
}
.login-with-social {
	background-color: #eaeaea;
	border-bottom-right-radius: 22px;
	border-bottom-left-radius: 22px;
	padding: 25px 15px;
}
.login-with-social ul {
	margin-bottom: 0;
}
.login-with-social a {
	background-color: #fff;
	border-radius: 12px;
	padding: 7px 20px;
	box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 15%);
}
textarea {
	resize: vertical;
	max-height: 100px;
	min-height: 37px;
	box-shadow: none !important;
	outline: none !important;
}
/*search*/
.panel.pads {
	padding: 15px;
}
.search-form {
}
.search-form .input-group {
	border-radius: 22px;
	margin: 0;
	padding: 0;
}
.search-form input {
	border-radius: 16px;
	height: 40px;
	outline: none !important;
	box-shadow: none !important;
	display: block;
	padding-right: 60px;
	margin: 0;
	border-right: 0 none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.search-form input:focus .search-form button {
	border-color: blue;
}
.search-form span {
	background-color: transparent;
}
.search-form button {
	outline: none;
	border: 1px solid #ccc;
	border-left: 0 none;
	background-color: transparent;
	padding: 9px 14px;
	box-shadow: none;
	border-top-right-radius: 16px !important;
	border-bottom-right-radius: 16px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.search-form button:active {
	color: #799938;
}
/*search*/

/*nav_panel*/
#nav_panel, #marketplace {
	margin-top: 15px;
}
.nav-top {
	text-align: center;
	margin-bottom: 28px;
}
.nav-avatar-body {
	background-color: #fff;
	border: 2px solid #799938;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 22px;
	height: 60px;
	width: 60px;
	margin: 0 auto 10px auto;
}
.nav-user-name {
	font-size: 16px;
	font-weight: bolder;
	margin-bottom: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.account-badge {
	font-size: 11px;
	font-family: inherit;
}
.nav-item-body, .logged-in .input-group {
	margin-bottom: 15px;
}
.nav-item-body:last-child {
	margin-bottom: 0;
}
.nav-item-body>a {
	display: block;
	border-radius: 22px;
	background-color: transparent;
	text-decoration: none !important;
	color: #a0a0a0;
	transition: color .3s ease-in-out;
}
.nav-item-body>a>i {
	padding: 20px;
	background-color: #fff;
	border-radius: 20px;
	text-align: center;
}
.nav-item-body>a>span {
	font-weight: bold;
}
.nav-item-body>a:hover {
	color: #496018;
}
.nav-item-body>a.active {
	background-color: #799938;
	color: #fff;
}
.nav-item-body>a.active>i {
	background-color: #496018;
} 
/*nav_panel*/

.color-theme {
	color: #799938;
}
.color-blue {
	color: #3b9ff5;
}
.color-white {
	color: #fff;
}
.color-grey {
	color: #aaa;
}
.text-capsule {
	margin: 0 0 5px;
	display: inline-block;
	background-color: #eee;
	padding: 5px 12px;
	border-radius: 12px;
}
.text-capsule.on-delivery {
	background-color: #ffe180;
	white-space: nowrap;
}
.text-capsule.received {
	background-color: #6bffa3;
}
.text-capsule.cancelled {
	background-color: #ff7777;
}

button, .btn {
	outline: none !important;
	border-radius: 12px !important;
}
button.btn-theme, a.btn-theme {
	background-color: #799938;
	color: #fff !important;
	transition: all .3s ease-in-out;
}
button.btn-theme:hover, a.btn-theme:hover {
	background-color: #3b9ff5 !important;
}
button.btn-blue, a.btn-blue {
	background-color: #3b9ff5;
	color: #fff !important;
}
button.btn-blue:hover, .login-button>a:hover, .text-link:hover, a.btn-blue:hover {
	filter: saturate(.7);
}
.btn-generic-container {
	text-align: center;
	margin: 10px 0;
}
.btn-generic-container>button, .btn-generic-container>a {
	border: 2px solid #799938;
	padding: 10px 50px;
	font-size: 16px;
	color: #799938;
	font-weight: bold;
	transition: all .3s ease-in-out;
	border-radius: 12px;
}
.btn-generic-container>button:hover, .btn-generic-container>a:hover {
	background-color: #799938;
	color: #fff;
}
.input-group .normal-radius {
	border-radius: 6px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.normal-radius {
	border-radius: 6px !important;
}
.pagination-container {
	margin: 10px 0 0;
	text-align: center;
}
.pagination {
	margin: 0;
}
.pagination>li>a, .pagination>li>span {
	padding: 6px 14px;
	font-size: 16px;
}

[data-toggle="modal"], [data-dismiss="modal"] {
	cursor: pointer;
}
[data-target="#search_popup"]:hover {
	color: #337ab7;
}
.icon-left {
	margin-right: 10px;
}
.icon-right {
	margin-left: 10px;
}
.panel {
	position: relative;
	background-color: #fff;
	border-radius: 22px;
	box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
}
.panel-nav {
	margin: 0 0 15px 0 !important;
	padding: 0;
}
.panel-nav h3 {
	margin: 0;
	padding-top: 15px;
	vertical-align: middle;
}
a {
	text-decoration: none !important;
	color: inherit;
}
a:hover, [data-target="#login_modal"]:hover {
	color: #3b9ff5;
}
.search-category-body {
	margin-bottom: 10px;
}

ul.spaced-list {
	align-items: stretch;
	display: flex;
	padding: 0;
	width: 100%;
	margin: 0;
}
ul.spaced-list>li {
	display: block;
	flex: 0 1 auto;
	list-style-type: none;
	z-index: 1;
}
ul.spaced-list.between {
	justify-content: space-between;
}
ul.spaced-list.around {
	justify-content: space-around;
}
ul.inline-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.inline-list>li {
	display: inline-block;
}
.inline-list.right-gap>li {
	margin-right: 10px;
}
.v-middle {
	vertical-align: middle;
}
.v-bottom {
	vertical-align: text-bottom;
}
.product-item-container {
	position: relative;
}
.product-item-sm {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	padding-top: 100%
}
.product-item-sm-footer {
	position: absolute;
	bottom: 0;
	color: #fff;
	display: block;
	width: 100%;
	padding: 20px 10px 5px 10px;
	background: linear-gradient(1deg, rgb(8 8 8) 0%, rgb(0 0 0 / 0%) 100%);
}
#footer_page_container {
	margin-top: 60px;
	border-top: 2px solid #799938;
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 50px;
}
.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 11px;
	width: 11px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.zero-gaps {
	padding: 0 !important;
	margin: 0 !important;
}
@-webkit-keyframes spinner-border {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner-border {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.spinner-border {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: text-bottom;
	border: 0.25em solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: spinner-border 0.75s linear infinite;
	animation: spinner-border 0.75s linear infinite;
	margin-bottom: 2px;
}
.spinner-border-sm {
	width: 1rem;
	height: 1rem;
	border-width: 0.2em;
}
@-webkit-keyframes spinner-grow {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	50% {
		opacity: 1;
	}
}
@keyframes spinner-grow {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	50% {
		opacity: 1;
	}
}
.spinner-grow {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: text-bottom;
	background-color: currentColor;
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: spinner-grow 0.75s linear infinite;
	animation: spinner-grow 0.75s linear infinite;
}
.spinner-grow-sm {
	width: 1rem;
	height: 1rem;
}
.error {
	border: 1px solid #a94442 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.error-no-svg {
	border: 1px solid #a94442 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.parent-error {
	position: relative;
	border: 1px solid #a94442 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.parent-error:before {
	content: '';
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.copy {cursor: copy !important;}

label.error {
	width: 30%;
}

.preview_images_list, .preview_images_selected {
	margin-top: 15px;
}
.preview_images_list>li, .preview_images_selected>li {
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.preview-image-item {
	background-size: cover;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	border: 2px solid #ddd;
	border-radius: 3px;
}
#media_modal .input-group input {
	border-right: none;
}
#media_modal .input-group button {
	border-radius: 4px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.fade {
	transform: scale(0);
	opacity: 1;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}
.modal.fade.in {
	transform: scale(1);
}

.modal-backdrop {
	opacity: 1;
	transform: scale(1);
}