@media (max-width: 991px) {
	body.inventory #dash_panel_right {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 767px) {
	body.inventory #dash_panel_right {
		padding-left: 10px;
		padding-right: 10px;
	}
}