body.logged-in .navbar-btn-list>li:hover i {
	background-color: #6d8a33;
}
body.logged-in {
	padding-top: 50px;
}
body.logged-in .navbar-default {
	background-color: #fff;
	box-shadow: 0px 2px 6px -4px rgb(0 0 0 / 14%);
}
body.logged-in .navbar-brand {
	padding: 8px 0 0 0;
	margin-left: 0 !important;
}
body.logged-in .navbar-brand>.i-logo {
	font-size: 18px;
}
body.logged-in .navbar-btn-list {
	margin: 7px 0 0 0;
	padding: 0;
}
body.logged-in .navbar-btn-list>li {
	margin-left: 10px;
}
body.logged-in .navbar-btn-list>li>a>i, .navbar-back-btn>i {
	background-color: #799938;
	font-size: 16px;
	border-radius: 12px;
	height: 34px;
	width: 34px;
	padding: 8px;
	color: #fff;
	text-align: center;
	transition: all .3s ease-in-out;
}
body.logged-in .navbar-btn-list .nav-avatar-body {
	margin: 0;
	width: 34px;
	height: 34px;
	border-radius: 12px;
}
#dash_panel_left {
	height: calc(100vh - 50px);
	overflow-y: auto;
	background-color: #fff;
	left: 0;
}
.dash-panel-left-container {
	padding-bottom: 30px;
}
.aside-nav-container {
	margin: 20px 0;
}
.aside-nav-item>a:hover, .aside-nav-child>a:hover {
	background-color: #f3f3f3;
}
.aside-nav-item>a, .aside-nav-child>a {
	display: block;
	padding: 8px 15px;
	border-radius: 3px;
	color: inherit;
}
.aside-nav-item>a>i, .aside-nav-child>a>i {
	font-size: 16px;
	width: 35px;
	text-align: center;
	margin-right: 15px;
	height: 35px;
	background-color: #dedede;
	color: #444;
	padding: 9px 0;
	border-radius: 100%;
}
.aside-nav-item>a.active, .aside-nav-child>a.active {
	background-color: #ccdea5;
	color: inherit;
	font-family: 'Roboto-Bold', sans-serif;
}
.aside-nav-child>a.active {
	background-color: #e2efc6;
}
.aside-nav-item>a.active i, .aside-nav-child>a.active i {
	background-color: #799938;
	color: #fff;
}
.aside-nav-child {
	margin-left: 25px;
}
#dash_panel_right {
	padding: 20px 5px;
}
.dash-panel-top {
	padding: 15px !important;
	border-bottom: 1px solid rgb(0 0 0 / 15%) !important;
}
.dash-panel-top h3 {
	font-size: 18px;
	margin: 0;
}
.dash-panel {
	background-color: #fff;
	margin-bottom: 25px;
}
.dash-panel.theme {
	border-top: 2px solid #799938;
	border-left: 1px solid rgb(10 10 10 / 12%);
	border-right: 1px solid rgb(10 10 10 / 12%);
	border-bottom: 1px solid rgb(0 0 0 / 24%);
}
.dash-panel-middle {
	border-bottom: 1px solid #eee;
}
.dash-panel-middle, .dash-panel-footer {
	padding: 15px;
}
