#new_veggy .product-item-info {
	width: 220px;
	margin: 20px auto;
}
#new_veggy .product-item-middle {
	border: 1px solid #ccc;
	border-top: none;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
#new_veggy kbd {
	display: block;
}
#new_veggy kbd>small {
	margin: 0;
	color: #fff !important;
}
.product-item-body {
	position: relative;
	padding-bottom: 50px;
}
.product-item-inner {
	/*display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;*/
	width: 100%;
}
.product-item {
	position: relative;
	width: 25%;
	border: 10px solid #eeefec;
	margin-bottom: 0;
	padding: 0 !important;
	box-shadow: none;
}
.product-item>a {
	display: block;
	border-radius: 12px;
}
.product-item:hover .product-item-info {
	box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 14%);
	border-radius: 12px;
}
.product-item-top {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	display: block;
	padding-top: 100%;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	background-color: transparent;
	position: relative;
}
.product-item-top>ul {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
}
.product-item-top>ul>li {
	margin: 10px;
}
.product-tags {
	background-color: #337ab7;
	color: #fff;
}
.product-type {
	background-color: #799938;
	color: #fff;
}
.product-item-middle, .product-item-footer {
	padding: 15px;
}
body.marketplace .product-item-middle {
	border-bottom: 1px solid rgb(0 0 0 / 15%);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.product-title {
	font-size: 16px;
	font-weight: bolder;
	margin: 0 0 5px;
	padding: 0;
	text-decoration: none !important;
	text-transform: capitalize;
	color: inherit;
}
.product-price {
	margin: 0;
	color: #888;
}