#register_container {
	padding-top: 60px;
	padding-bottom: 15px;
	max-width: 1000px;
}
#register_welcome {
	padding-top: 40px;
}
#register_welcome img {
	width: 90px;
}
#register_form {
	background-color: #fff;
	padding: 25px;
    border-radius: 22px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 0 15px;
}
.register-top {
	margin-bottom: 25px;
}
.register-middle input.form-control {
	height: 45px;
	box-shadow: none;
	border-radius: 12px;
}
#register_form .btn-theme {
	border-radius: 12px;
}
.register-footer {
	padding-top: 20px;
	margin-top: 20px;
	text-align: center;
	border-top: 1px solid #eeefec;
}