@media (max-width: 1199px) {
	.banner-left img {
		width: 58px;
		margin: 0 auto;
		text-align: center;
	}
	.left-affix-content {
		margin-left: 25%;
	}
}
@media (max-width: 1094px) {
	.nav-avatar-body {
		height: 50px;
		width: 50px;
	}
	.nav-user-name, .product-title {
		font-size: 14px;
	}
	.nav-item-body {
		margin-bottom: 10px;
	}
	.nav-item-body>a, .nav-item-body>a>i {
		border-radius: 16px;
	}
	.nav-item-body>a>i {
		padding: 15px;
		margin-right: 5px;
		height: 44px;
		width: 44px;
	}
	.veggy-category-item-inner>p {
		margin: 3px 0 0 0;
		font-size: 9px;
	}
}

@media (max-width: 991px) {
	#marketplace {
		padding-bottom: 90px;
	}
	#nav_panel {
		margin-top: 0;
	}
	#content_body_wrapper {
		/*width: 750px;*/
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	#nav_panel {
		position: static;
	}
	#nav_panel_sm {
		padding: 0 15px;
	}
	#nav_panel_sm>#nav_panel {
		display: block !important;
		margin-bottom: 15px;
		padding: 0;
	}
	#nav_panel_sm>#nav_panel .nav-middle {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 10px;
	}
	#nav_panel_sm>#nav_panel .nav-middle .nav-item-body {
		margin-bottom: 0;
	}
	.product-item {
		width: 33.33%;
	}
	#register_welcome {
		padding-top: 0;
		margin-bottom: 30px;
	}
	#veggy_categories {
		overflow-x: auto;
	}
	.veggy-category-item-inner {
		grid-gap: 5px;
	}
	.banner-body {
	    grid-template-columns: 170px 1fr;
	}
	.banner-left {
		padding: 10px;
	}
	.banner-left h4 {
		margin-bottom: 0;
	}
	.product-item-sm-footer {
		background: transparent;
		color: inherit;
		padding: 5px;
		position: static;
		font-size: 11px;
	}
	.banner-right .product-item-container:last-child .product-item-sm {
		border-bottom-right-radius: 0;
	}
	#category_container .panel {
		margin-bottom: 0;
	}
	.product-item-body {
		padding-bottom: 0;
	}
	.farmers-card-item .farmer-avatar {
		height: 60px;
		width: 60px;
		margin: -40px auto 0 auto;
	}
	.dash-panel-left-container>h3 {
		font-size: 18px;
	}
	.aside-nav-item>a, .aside-nav-child>a {
		padding: 8px 10px;
	}
	.aside-nav-child {
		margin-left: 15px;
	}
}

@media (max-width: 767px) {
	body.marketplace #content__middle, .my-logo, #search_nav_btns, #content_body_wrapper, #marketplace, body.register #content__middle .col-xs-12, #register_form .btn-theme, div#marketplace {
		padding: 0;
	}
	#search_nav_btns li.onlogged-out-btn, #search_body .input-group, .nav-avatar-li .nav-avatar-body, #register_welcome h1 {
		margin: 0;
	}
	div#marketplace {
		margin-top: 0;
	}
	
	#search_with_nav_btns {
		grid-template-columns: auto 1fr auto;
		padding: 10px;
		grid-gap: 10px;
	}
	#search_nav_btns li.onlogged-out-btn>a {
		padding: 10px 0;
		width: 35px;
		height: 35px;
		text-align: center;
	}
	.my-logo i, #search_nav_btns .bottom-nav-item, .nav-avatar-li .nav-avatar-body {
		font-size: 17px;
		padding: 7px;
	}
	#marketplace_nav_body {
		padding: 0;
	}
	#marketplace_nav_body .panel {
		border-radius: 0;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
		padding: 0;
		margin: 0;
	}
	#search_body input {
		height: 34px;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		padding-right: 0;
	}
	#search_body button {
		padding: 6px 9px;
	}
	#veggy_categories {
		overflow-x: auto;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	.my-logo i, #search_nav_btns .bottom-nav-item, .nav-avatar-li .nav-avatar-body {
		height: 35px;
		width: 35px;
	}
	#product_item_container {
	    padding: 0 0 40px 0;
	}
	.product-item-inner {
		grid-template-columns: 1fr 1fr;
	}
	.product-item {
		width: 50%;
		border: 5px solid #eeefec;
	}
	#register_container {
		max-width: 100%;
		padding: 20px 0;
	}
	#register_welcome {
		text-align: center;
	}
	#register_welcome img {
		width: 50px;
	}
	#register_welcome h1 {
		font-size: 30px;
	}
	#register_welcome h3 {
		margin: 15px 0 0 0;
		font-size: 16px;
	}
	.register-middle input.form-control, #register_form .btn-theme {
		height: 36px;
	}
	#bottom_nav_sm.in .nav-avatar-body {
		width: 22px;
		height: 22px;
		border-radius: 8px;
	}
	#register_form .btn-theme {
		font-size: 16px;
	}
	#bottom_nav_sm, #bottom_nav_sm.in {
		width: 240px;
	}
	.bottom-nav-item {
		font-size: 16px;
	}
	#bottom_nav_sm .bottom-nav-item>a, #bottom_nav_sm .bottom-nav-item>span, #bottom_nav_sm .bottom-nav-item>i, #poster_container {
		padding: 8px 0;
	}
	kbd {
		font-size: 75%;
	}
	.product-item-top>ul>li {
		margin: 5px;
	}
	.search-form input, .search-form button {
		height: 35px;
		padding-right: 10px;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
	}
	.search-form button {
	    padding: 0 14px;
	}
	#load_more_container>button {
		padding: 6px 35px;
		font-size: 14px;
	}
	#banner_container {
		margin-top: 0;
	}
	#banner_container h3, #category_container h3, #farmers_container h3, #poster_container h3 {
		margin-top: 0;
		font-size: 18px;
	}
	.banner-body {
		display: block;
		border-radius: 12px;
	}
	.banner-left {
		display: grid;
		grid-template-columns: 90px 1fr;
		text-align: left;
	}
	.banner-right {
		grid-template-columns: 40% 40% 40% 40%;
		overflow-x: auto;
	}
	.banner-right .product-item-container:last-child .product-item-sm, .carousel-inner {
		border-radius: 0;
	}
	.btn-generic-container {
		margin: 10px 10px 5px 10px;
	}
	.btn-generic-container>button, .btn-generic-container>a {
		padding: 6px 20px;
		font-size: 14px;
		font-weight: normal;
		border: 1px solid #799938;
	}
	#navbar-carousel {
		margin-bottom: 10px;
	}
	#navbar-carousel_container {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;
	}
	#banner_container {
		margin-bottom: 25px;
	}
	#navbar-carousel {
		padding-left: 10px;
		padding-right: 10px;
	}
	.carousel-caption {
		bottom: 10px;
	}
	.carousel-caption h3 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.carousel-caption p {
		font-size: 12px;
	}
	#banner_container .panel, #banner_container .panel {
		margin-left: -15px;
		margin-right: -15px;
		border-radius: 0;
	}
	#category_container .panel {
		margin-left: -10px;
		margin-right: -10px;
	}
	.farmers-card-container {
		overflow-x: auto;
		grid-template-columns: 180px 180px 180px 180px;
		margin-left: -25px;
		margin-right: -15px;
	}
	#footer_page_container {
		margin-top: 30px;
	}
	#dash_panel_left {
		padding-left: 0;
		padding-right: 0;
	}
	.aside-nav-container {
		text-align: center;
	}
	.aside-nav-item>a, .aside-nav-child>a, .aside-nav-item>a.active, .aside-nav-child>a.active {
		padding: 5px;
	}
	.aside-nav-item>a>i{
		font-size: 14px;
		width: 30px;
		height: 30px;
		margin: 0;
	}
	.aside-nav-child>a>i {
		font-size: 12px;
		width: 25px;
		height: 25px;
		padding: 6px 0;
		margin: 0;
	}
	.aside-nav-child {
		margin-left: 0;
	}
	.left-affix-content {
		margin-left: 16.66666667%;
	}
	.dash-panel-top, .dash-panel-middle, .dash-panel-footer {
		padding: 10px !important;
	}
	.dash-panel-top h3 {
		font-size: 16px;
	}
	.dash-panel-right-canvas>div[class^="col-"] {
		padding: 0;
	}
	.dash-panel {
		margin-bottom: 15px;
	}
}