@media (max-width: 1094px) {
	.nav-avatar-body {
		height: 50px;
		width: 50px;
	}
	.nav-user-name, .product-title {
		font-size: 14px;
	}
	.nav-item-body {
		margin-bottom: 10px;
	}
	.nav-item-body>a, .nav-item-body>a>i {
		border-radius: 16px;
	}
	.nav-item-body>a>i {
		padding: 15px;
		margin-right: 5px;
		height: 44px;
		width: 44px;
	}
	.veggy-category-item-inner {
		width: 70%;
	}
	.veggy-category-item-inner>img {
		height: 50px;
		width: 50px;
	}
	.veggy-category-item-inner>p {
		margin: 3px 0 0 0;
		font-size: 9px;
	}
	.product-item {
		width: 33.33%;
	}
}

@media (max-width: 991px) {
	#marketplace {
		padding-bottom: 90px;
	}
	#nav_panel {
		margin-top: 0;
	}
	#content_body_wrapper {
		/*width: 750px;*/
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	#nav_panel {
		position: static;
	}
	.left-affix-content {
		margin-left: 0;
	}
	#nav_panel_sm {
		padding: 0 15px;
	}
	#nav_panel_sm>#nav_panel {
		display: block !important;
		margin-bottom: 15px;
		padding: 0;
	}
	#nav_panel_sm>#nav_panel .nav-middle {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 10px;
	}
	#nav_panel_sm>#nav_panel .nav-middle .nav-item-body {
		margin-bottom: 0;
	}
	.product-item-top {
		padding-top: 75%;
	}
	.product-item {
		width: 33%;
	}
	#register_welcome {
		padding-top: 0;
		margin-bottom: 30px;
	}
}

@media (max-width: 767px) {
	body.marketplace #content__middle, .my-logo, #search_nav_btns, #content_body_wrapper, #marketplace, #register_container .col-xs-12, #register_form .btn-theme, div#marketplace {
		padding: 0;
	}
	#search_nav_btns li.onlogged-out-btn, #search_body .input-group, .nav-avatar-li .nav-avatar-body, #register_welcome h1 {
		margin: 0;
	}
	div#marketplace {
		margin-top: 0;
	}
	#search_with_nav_btns {
		grid-template-columns: auto 1fr auto;
		padding: 10px;
		grid-gap: 10px;
	}
	#search_nav_btns li.onlogged-out-btn>a {
		padding: 10px 13px;
	}
	.my-logo i, #search_nav_btns .bottom-nav-item, .nav-avatar-li .nav-avatar-body {
		font-size: 17px;
		padding: 7px;
	}
	#marketplace_nav_body {
		border-radius: 0;
	}
	#search_body input {
		height: 34px;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		padding-right: 0;
	}
	#search_body button {
		padding: 6px 9px;
	}
	#veggy_categories {
		overflow-x: auto;
		padding: 0 10px 10px 2px;
		grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
	}
	.veggy-category-item-inner {
		width: 80%;
		padding: 5px;
	}
	.veggy-category-item-inner>img, .my-logo i, #search_nav_btns .bottom-nav-item, .nav-avatar-li .nav-avatar-body {
		height: 35px;
		width: 35px;
	}
	.product-item-body {
	    padding: 0 5px 65px 5px;
	}
	.product-item-inner {
		grid-template-columns: 1fr 1fr;
	}
	.product-item {
		width: 50%;
		border: 5px solid #eeefec;
	}
	#register_container {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#register_welcome {
		text-align: center;
	}
	#register_welcome img {
		width: 50px;
	}
	#register_welcome h1 {
		font-size: 30px;
	}
	#register_welcome h3 {
		margin: 15px 0 0 0;
		font-size: 16px;
	}
	.register-middle input.form-control {
		height: 36px;
	}
	#register_form .btn-theme {
		height: 36px;
		font-size: 16px;
	}
	#bottom_nav_sm {
		width: 80%;
	}
	.bottom-nav-item {
		font-size: 16px;
	}
	#bottom_nav_sm .bottom-nav-item>a, #bottom_nav_sm .bottom-nav-item>span, #bottom_nav_sm .bottom-nav-item>i {
		padding: 8px 0;
	}
	kbd {
		font-size: 75%;
	}
	.product-item-top>ul>li {
		margin: 5px;
	}
}